---
// Open with ctrl + i
---

<ul>
 <li>Dark/ Light (with Tailwind)</li>
 <li>Save Settings (Localstorage otherwise just url params)</li>
 <li>Change Fish image</li>
 <li>Moving Fish or Fishbar (like loading from right to left visible)</li>
 <li>Set start and finishtime</li>
 <li>Reset Settings</li>
 <li>wobble on click</li>
 <li>Speaking bubble when finished with "Feierabend" in diff languages</li>
</ul>
